body{
	background-color:rgb(88,90,94);
	font-family:'bungee inline','cursive';
	text-align: center;
	position:;
	height: 20px;
	width:100%;
	bottom:0;

}




}
.about{

	position:center;
	  height: 200px;
	  width: 100%;
	  bottom:0;
	  background-color:white;
	  opacity:;
	  color:
      



}
footer{
	position:absolute;
	  height: 20px;
	  width: 100%;
	  bottom:0;
	  background-color:;
	  opacity:;
	  color:white;

}