body{
height:;
font-family: 'Anton', sans-serif ; 
text-align:;
background: url('https://obamawhitehouse.archives.gov/sites/default/files/image/image_file/08_p101414ps-0804.jpg'); 
background-position:;
background-repeat:no-repeat; 
background-size:cover;
background-color:;
page width: 1000px;


}

.text{
	text-align: center;
	font-size: 5em;
	color:rgb(255,255,255);
    font-weight: bolder;
    padding-top: 4cm;

    
     
}


.donate{
	height: 100px;
	width: 100px;
	background-position: center;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*------------------------------------*\
    Media Queries
\*------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .nav-mobile {
        display:block;
    }
    .nav {
        width:100%;
        padding:40px 0 0;
    }
    .nav-list {
        display:none;
    }
    .nav-item {
        width:100%;
        float:none;
    }
    .nav-item a {
        background:#34495E;
        padding:10px;
    }
    .nav-item:first-child a {
        border-radius:5px 0 0;
    }
    .nav-item:last-child a {
        border-radius:0 0 5px 5px;
    }
    .nav-active {
        display:block;
    }
    .nav-mobile-open {
        border-radius:5px 5px 0 0;
        -webkit-border-radius:5px 5px 0 0;
        -moz-border-radius:5px 5px 0 0;
    }
}