body
{

height:100%;
font-family: 'Bungee Inline' ,'cursive'; 
text-align: center;

}


}

video{
  position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    z-index: 1;
  }

.green{
  background-color: green
  height:  50px
}
  nav{

    background-color:rgb(88,43,210);
    border: 0.2em black solid;
    padding: 0.2em;
    position: relative;

  } 
ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333
 }
li{

  float:left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    position:left;
}

li a:hover {
    background-color: #111;
}

.bigname{
  position: relative;
	font-size:9em;
	margin:0 auto;
	margin-top: 100px;
  z-index: 2;
  max-width: 720px;
  text-align: center;

    

}

.front{
	color:black;
  font-size:30pt;
}

.cloud{
position: static;

 
}


footer
{
position:relative;
  height: 9px;
  width: 100%;
  bottom:0;
  background-color:;
  opacity:.8;
  color:grey;


}
nav{
  
}