body
{
height:200px;
font-family: 'Bungee Inline', cursive; 
text-align:center;
background-image:;
background-color:rgb(173,255,47);
background-repeat:no-repeat; 
background-size:;
background-position: 
}



.bigname{
	font-size:9em;
	line-height: 15pt;



}


footer
{
position:relative;
  height: 9px;
  width: 100%;
  bottom:0;
  background-color:;
  opacity:.4;

} 

