body{
background:url("http://www.youfixcars.com/images/service-manual-example.jpg.pagespeed.ce.VY9BBD1bYM.jpg");
font-family: audiowide;
color: WHITE;
background-position:center;
background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100%


}
h1{

    text-align: center;
}