body{
background:url("http://www.youfixcars.com/images/service-manual-example.jpg.pagespeed.ce.VY9BBD1bYM.jpg");
font-family: audiowide;
color: green;
background-position:center;
background-size:20em;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100%


}
h1{

    text-align: center;
}

.container{
    width:800px;
    height:400px;
    padding:20px;
    border:1px solid gray;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background: black; 
}
.image-slider-wrapper{
    overflow: hidden;
}
#image_slider{
    position: relative;
    height: 280px;
    padding:0;
}
#image_slider li{
    max-width: 100%;
    float:left;
    list-style: none;
}

