<style>
@import url('https://fonts.googleapis.com/css?family=Bangers');

h1{ 
	text-align: left;
	font-family: 'Bangers';
 p{
	font-family: serif;
	font-size: 18px;
	line-height: 2em

}

}




body {
	
    background color: blue
   


    
}
 


