body{
  
  background: url("http://demandware.edgesuite.net/aaxm_prd/on/demandware.static/-/Sites-Traeger-Library/default/dwcb65a326/images/recipes/0216_smoked_whiskey_burger_RE_HE.jpg");
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: 480px;
  color: #fff;
  font-family:audiowide;
  font-size: 1.5em
}
  
ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333
 }
li{

  float:left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
footer{
  background-color: #333;
  border: 1px black solid;
  padding: 20px;
  margin-top: -142px;
  height: 142px;
  clear: both;

}
