body{
height:;
font-family: 'roboto', cursive; 
font-family: 'Oswald', sans-serif;
text-align: center;
background: url(); 
background-repeat:no-repeat;
background-position:center;
background-image:url(); 
background-repeat:no-repeat;); 
background-size:cover;
background-color:;



    
}
.parallax {
    /* The image used */
    background-image: ;
    background-color: rgb();


    /* Full height */
    height: 100%; 

/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;





}

























h1{

    text-align:center;
    color: rgb(127,255,0);
    font-size: 36pt;
    background-image: url('http://previews.123rf.com/images/lonely11/lonely111202/lonely11120200013/12493458-Abstract-background-circuit-board-Stock-Vector-digital.jpg');
    background-size:100%;
    height: 200px;
    }

#center1 
{
	height: 900px;
	background: ;
	width: 800px;
	margin-left: 15em;
	margin-right:10em;
	text-align: center;
	color:black;
	
    
	
}
#center2
{
height:1000px;
background:;
width: 800px;
margin-left: 15em;
margin-right: 10em;

	

}
footer{
background:red;
height: 500px;
background-image: url('http://assets.internationalchampionscup.com/uploads/sponsor/grey_logo/1/audi-off-1429726526.png');
background-repeat: no-repeat;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

li {
    display: inline;
}
span{
	text-align: center;
}
