
*{
  font-family: arial,verdana,sans-serif;
  color: #667182; text-align: center;
  background-color:
}

#nav,#feature, .article,#footer{
  background-color: #162a49; margin-top: 20px;
  padding: 10px 0px 5px 0px;
}

#feature, .article{
  height: 100px;
}

li{
  display: inline;
  padding: 5px;
}
body{
font-family: 'roboto', cursive;
font-family: 'Oswald', sans-serif;
margin: auto;
    width: 90%;
    
}

.re-c{
  text-decoration: none; color: solid-black;
}


}

.left{
    text-align: left;
    padding-left: 90px;
    padding-bottom: -5px;
    position: fixed;
}


 .a{
   width:500px;
   margin: 0 auto;
   text-align: left;
   position: absolute;
                    
                    

                   }







footer{
background:WHITE;
height:280px;
width:100%;
text-align: center;
position:relative;


}
/*NAV!!!!*/

li {
    display: inline;
}
span{
	text-align: center;
}

/*NAV!!!!*/

