
*{
  font-family: arial,verdana,sans-serif;
  color: #667182; 
  background-image: url()
  background-size: auto;
  
}

/* Container holding the image and the text */
.container {
    position:absolute;
    text-align: center;
    color:black;
}

/* Bottom left text */
.bottom-left {
    position:absolute;
    bottom: 8px;
    left:16px;
    font-size: 40px;
    color:black;
}
.black{
background-color:white;

}

/*text politics*/
.text{
  text-align:left;
  line-height: 1.9;
}

#nav,#feature, .article,#footer{
  background-color:; margin-top: 40px;
  padding: 0px 0px 0px 0px;
  position:absolute;
  text-align: left;
  width: 100%;


  
}

#feature, .article{
  height: 200px;

}


li{
  display: inline;
  padding: 5px;
}
body{
font-family: 'roboto', cursive;
font-family: 'Oswald', sans-serif;
margin:auto;
  width:100%;
  text-align:left;
padding:0;
    
    
  
    
}

.re-c{
  text-decoration: none; color: solid-black;
}


}

.left{
    text-align: left;
    padding-left: 90px;
    padding-bottom: -5px;
    position: fixed;
}


 .a{
   width:500px;
   margin: 0 auto;
   text-align:center;
   position:static;
                    
                    

                   }


h1{
  color:rgb(51, 204, 51);
}


.article{
  float: center;
}

footer{
background:#162a49;
height:40px;
text-align: center;
position:static;
float: left;
width:100%;
color:green;
left: 0;
right: 0;
bottom: 0;



}
/*NAV!!!!*/

li {
    display: inline;
}
span{
	text-align: center;
}

/*NAV!!!!*/
.container {
    position:static;
    text-align:left;
    color:red;
    margin-left: 50px;
    margin-right: 50px;
    
    
}

/* Bottom left text */
.bottom-left {
    position:static;
    bottom:-200px;
    left:60px;

    font-size: 30px;
    color:black;
    font-weight:bolder;
     background:;
     opacity:0.9;
     width:100%;
     margin: 25px;
     top:600px;
     height:100%;
      right: :250px;



}





