*{
  font-family: 'Slabo 50px', sans-serif;

  
  
}

/* Container holding the image and the text */
.container {
    position:static;
    text-align:left;
    color:black;
    margin-left: 50px;
    margin-right:100px;
    width:1000px;
    height: auto;
    
    
}

/* Bottom left text */
.bottom-left {
    position:absolute;
    bottom:-60px;
    left:60px;

    font-size: 30px;
    color:rgb(190,50,20);
    font-weight:bolder;
     background:white;
     opacity:0.9;
     width:500px;
     
     top:480px;
     height:140px;
      right: :250px;


}
.black{
background-color:rgb(128,128,128);

}

.column1, .column2, .column3{
  width:380px;
  
  margin: 1%;
  border-spacing:90px 9px;
 margin-top:20px;
  margin-bottom:9px;
  display:inline-block;
  border-collapse: separate;



}

.space{
  max-width: 100%;
}

.article3{
  margin-right: 0%;
}


/*text politics*/
.text{
  text-align:left;
  line-height: 1.9;
}

#nav{
  background-color: #162a49; margin-top: 1px;
  padding: 60px 0px 20px 0px;
  position:static;
  text-align: left;
  
}
/*lifestyle landing page*/

.w3-container1{
float: left;
background-color:
width: 1120px;
height: 400px;
margin-bottom: 6em;
padding-top: 3em;
padding-left: 3em;
position: relative;




}

.w3-container2{
  
float: left;
background-color:
width: 1120px;
height: 400px;
margin-bottom: 6em;
padding-top: 3em;
padding-left: 3em;
position: relative;


  
}

.w3-container3{

float:left;
background-color: 
width: 1120px;
height: 400px;
margin-bottom: 6em;
margin-top: 1em;
padding-top: 3px;
padding-left: 3em;


}
.w3-container4{
float: left;
background-color: 
width: px;
height: 400px;
margin-bottom: 6em;
padding-top: 3px;
padding-left: 3em;


}

.w3-container5{
float: left;
background-color: 
width: 1120px;
height: 400px;
margin-bottom: 6em;
padding-top: 1px;
padding-left: 3em;


}

.w3-container6{

float:left;
background-color: 
width: 1120px;
height: 400px;
margin-bottom: 6em;
margin-top: 1em;
padding-top: 3px;
padding-left: 3em;


}
.fr1{

  float:right;
  margin-left:25px;
  margin-bottom:1px;
  font-size:25px;
  font-weight: bold;
 width:350px;
 text-align: left;
  
  
}





.fr2{
  float:right;
  margin-left:25px;
  margin-bottom:1px;
  font-size:25px;
  font-weight: bold;
 width:350px;
 text-align: left;
  
  
  

}

.fr3{
  float:right;
  margin-left:30px;
  margin-bottom: 1px;
  font-size:25px;
 text-align: left;
  
  width: 350px;

font-weight: bold;

}

.fr4{
  float:right;
  margin-left:25px;
  margin-bottom: 1px;
  text-align: left;
  font-weight: bold;
  font-size:25px;
  width: 350px;

}
.fr5{
  float:right;
  margin-left:30px;
  text-align:block;
  width: 350px;
  font-size: 25px;
  text-align: left;
font-weight: bold;

}

.fr6{

  float:right;
  margin-left:25px;
  margin-bottom:1px;
  font-size:25px;
  font-weight: bold;
 width:350px;
 text-align: left;
  
  
}

/*lifestyle landing page*/

.h3{
background-color: green;
}


body{
font-family: 'roboto', cursive;
font-family: 'Oswald', sans-serif;
height:1800px;
text-align:left;
padding-bottom:1em;
margin-left:2px;
margin-right:50px;
width:100%;



}

.re-c{
  text-decoration: none; color: solid-black;
}


}

.left{
    text-align: left;
    padding-left: 90px;
    padding-bottom: -5px;
    position: fixed;
}

/*poilitics*/
 .a{
   width:3000px;
   margin: 0 auto;
   text-align:center;
   position:static;
         
                    

                   }

/*politics*/
h1{
  color:rgb(52,175,97);
  
}




footer{
background:#162a49;
height:200px;
text-align: center;
position:relative;
float: left;
padding: 15px 0;
width:100%;
color:green;



}

.list
{
height: 200px;
display: table-cell;
vertical-align: middle;
border: 1px solid black;
flex-wrap: wrap;
}

.dd{
float:right;

}

/*NAV!!!!*/

ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color:white;
   overflow: hidden;

}
li{
  float: left;
}

li a{
  display: block;
  color:darkgrey;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;

}

li a:hover{
background-color: darkred;
}

.righty{
  float: right;
}

/*NAV!!!!*/

#content{
  overflow: auto;
}

.mm{
  float: right;

}
.mm1{
  float: left;
  word-wrap:pre;
}

.boxed {
  border: 9px solid black ;
  width: 500px;
  height:500px;
  float: right;
}