
*{
  font-family: arial,verdana,sans-serif;
  color: #667182; 
  background-image: url()
  background-size: auto;
  
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color:black;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left:16px;
    font-size: 40px;
    color:black;
}
.black{
background-color:black;

}

/*text politics*/
.text{
  text-align:right;
  line-height: 1.9;
}

#nav,#feature, .article,#footer{
  background-color:; margin-top: 40px;
  padding: 4px 0px 5px 0px;
  position: static;
  text-align: left;
  
}

#feature, .article{
  height: 200px;

}


li{
  display: inline;
  padding: 5px;
}
body{
font-family: 'roboto', cursive;
font-family: 'Oswald', sans-serif;
margin:auto;
  width:100%;
  text-align:left;
background: 
  
    
    
  
    
}

.re-c{
  text-decoration: none; color: solid-black;
}


}

.left{
    text-align: left;
    padding-left: 90px;
    padding-bottom: -5px;
    position: fixed;
}


 .a{
   width:500px;
   margin: 0 auto;
   text-align:center;
   position:static;
                    
                    

                   }


h1{
  color:rgb(51, 204, 51);
}


.article{
  float: center;
}

footer{
background:black;
height:200px;
text-align: center;
position:relative;
float: left;
padding: 15px 0;
min-width:100%;
color: green;
background:#162a49;

}
/*NAV!!!!*/

li {
    display: inline;
}
span{
	text-align: center;
}

/*NAV!!!!*/
.container {
    position:static;
    text-align:left;
    color:red;
    margin-left: 50px;
    margin-right: 50px;
    
    
}

/* Bottom left text */
.bottom-left {
    position:static;
    bottom: 50px;
    left:70px;
    font-size:30px;
    color:red;
    font-weight:bolder;
     background:black;
     opacity:0.7;
     width: 500px;



}





