body{
background: url(https://static1.squarespace.com/static/526fc129e4b0f45d32c037cd/526fda0de4b0dc53ab098c63/52e42d9be4b00c6fee5e097d/1390685596888/large_OVH85MagCitySign.jpg);
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  font-family:audiowide;
  font-size: 1.5em
}