body
{
height:;
font-family: 'Bungee Inline', cursive; 
text-align:center;
background-image:;
background-color:rgb(173,255,47);
background-repeat:no-repeat; 
background-size:100%;
background-position: 
}

.bigname{
	font-size: 12em;
}



footer
{
position:relative;
  height: 1px;
  width: 100%;
  bottom:0;
  background-color:;
  opacity:.4;

} 

/**/
ul{
float: left;
width: 100%;
font-size:
text-align:center;


}

#box1{
	background-color: orange;
	display:block;
	border:1.5em;
	margin:1.5em;
	padding: 2.5em;
	width: 200px;
	height:200px;
	float: right;
	opacity:.9;
	}

#box2{
	background-color:blue;
	display:block;
	border:1.5em;
	margin:2.5em;
	padding: 2.5em;
	width: 200px;
	height: 200px;
	opacity:.8;


}






nav{

    background-color: red;
    position: relative;

  } 

ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color:;
 position:;

}

li{

  float:left;
  text-align:left;
  font-size: 
}
li a 
{
    display: block;
    color: ;
    text-align:left;
    padding: 1.4em 1.4em;
    text-decoration: none;
    
}


