body{
  text-align: center;
  background: image ("WS_GrillMaster_Howto_Cheeseburger_143.jpg");
  background-size: cover;
  color: #fff;
  font-family:Helvetica;
  }
  {width: 200px;
  p{
    font-size: 22px;
}

